/* ---Header--------------- */
/* --- hero ------------------ */
/* --- advantage ----------- */
/* --- development ------------------------- */
/* --- team -------------------------- */

/* client */
/* footer */
/* --- portfolio-page ---------------- */

/* project */

/* modal-form */

/* .modal-chek-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 8px;
}
.modal-chek:checked + .modal-chek-text::before {
  background-image: url(../images/icon\ check.png);
  border: none;
} */
