.backdrop {
  position: fixed;
  top: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.367);
  overflow-y: scroll;
  transition: opacity 500ms, visibility 500ms;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
